body {
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: 'Franklin Gothic';
    font-size: 15px;
}

.caja_1{ /* height: 125.2; para las opciones - height: 45; sin las opciones */
    background-color: rgb(65, 65, 65);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    width: 600px;
    height: 45px;
}

.person_icon{   
    margin: 1px;
    height: 40px;
    width: 40px;
}

/* .input_texto_1{
    background-color: rgb(118, 118, 118);
    color: white;
    display: inline-block;
    position: absolute;
    font-family: 'Franklin Gothic';
    font-size: 14px;
    height: 37px;
    width: 450px;
    top: 10;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
} */

.input_texto_1{
    background-color: rgb(118, 118, 118);
    border: 1px solid rgb(118, 118, 118);
    color: white;
    font-family: 'Franklin Gothic';
    font-size: 14px;
    height: 37px;
    width: 450px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.input_texto_1::placeholder{
    color: white;
    font-family: 'Franklin Gothic';
    font-size: 14px;
}

.caja_1-1{ /* Se esconde la barra de opciones hasta que se haga click en la caja de input */
    display:table;
    background-color: rgb(118, 118, 118);
    border:1px solid rgb(118, 118, 118);
    visibility: hidden;
    width: 110px;
    height: 20px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

.span_1{
    display:table-cell;
    vertical-align:middle;
    width: 20px;
}

.opcion_1{
    width: 30px;
    height: 25.2px;
    margin-left: 10px;
}

/* - - - - - - -
MODAL - CANVAS 
- - - - - - - - */

.caja_modal_1{
    width: 600px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.canvas_1{
    border: 1px solid black;
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

.tabla_1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.input_texto_2{
    background-color: rgb(118, 118, 118);
    border: 1px solid rgb(118, 118, 118);
    color: white;
    font-family: 'Franklin Gothic';
    font-size: 14px;
    height: 37px;
    width: 450px;
    border-radius: 10px;
}

.post_btn_1{
    background-color: rgb(37, 194, 97);
    font-family: 'Franklin Gothic';
    border: 1px solid rgb(37, 194, 97);
    font-size: 17px;
    display: inline;
    width: 74px;
    height: 37px;
    border-radius: 20px;
}

/* .opcion_2{
    width: 116px;
    height: 25.2px;
} */

/* - - - - - - - - - - 
SECCION DE COMENTARIOS
 - - - - - - - - - - - */
.caja_2{
    background-color: rgb(65, 65, 65);
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    margin-top: 20px;
}

.table_data_1{
    padding-top: 10px;
    padding-bottom: 10px;
}

.table_data_2{
    padding-left: 5px;
}

/* .caja_1-2{
    display: inline-block;
    background-color: lightgoldenrodyellow;
    width: 200px;
    border:1px solid black;
} */

.caja_1-3{
    background-color: lightgoldenrodyellow;
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
}

.img_selecc{
    margin-left: auto;
    margin-right: auto;
    max-width: 530px;
    border-radius: 10px;
}

/*  height: 30px;
    border-radius: 25px; */
